@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&family=Roboto:wght@300;400;500;700&display=swap');

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: #f0eef1;
}

.header {
    padding: 20px 80px;
    display: flex;
    margin-bottom: 2.5rem;
    background-color: #fffbfb;
}

h1 {
    font-size: 3rem;
}

.wrapper {
    width: 100%;
    max-width: 1140px;
    margin: auto;
}

h2 {
    padding: 10px;
    text-align: center;
}

.book {
   
    color: white;
    font-size: 1.2rem;
}

.wrapper .display-toggle {
    display: none;
}

.library-books {
    padding: 2rem 2rem;
    position: relative;

}

.book {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.book-card {
    padding: 1.8rem 1.5rem;   
    background-color: #62695a;
    border-radius: 10px;
    position: relative;
}

.remove-book {
    position: absolute;
    top: 8px;
    right: 8px;
}

.book-form {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: max-content;
    max-width: 100vw;
    margin-left: auto;
    margin-right: auto;
    transition: 0.2s ease-in-out;
}

ul > li {
    list-style-type: none;
    margin-bottom: 0.75rem;
    display: flex;
}

label {
    width: 11rem;
}

li :nth-child(2), form button {
    width: 100%;
    height: 2rem;
    box-sizing: border-box;
    padding: 0;
}

li :nth-child(2) {
    border: 2px solid rebeccapurple;
    border-radius: 5px;
    height: 1.5rem;
    padding: 0 5px;
}

li :nth-child(2):focus {
    background-color: rgb(254, 254, 169);
  }

form {
    background-color: lavender;
    padding: 0.5rem 1rem;
    border-radius: 10px;

}

form button {
    height: 2.5rem;
    padding: 5px;
    background-color: #FFFFFF;
    border-radius: 5px;
    border: 2px solid gray;
    cursor: pointer;
    margin-bottom: 1.5rem;
    transition: filter 0.15s ease-in-out;
}

.book-form .close-form {
    position: absolute;
    top: 5px;
    right: 5px;
}

.close-form:hover {
    cursor: pointer;
    color: red;
}

form button:focus,
form button:hover {
  background-color: rebeccapurple;
  color: white;
}

.add-book {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
}

.remove-book {
    cursor: pointer;
}

.remove-book:hover {
    color: red;
}

#add-book {
    width: 11rem;
    padding: 10px 0px;
    border-radius: 5px;
    outline: none;
    border: 2px solid rebeccapurple;
    cursor: pointer;
    background-color: #dfe1de;
    font-size: 1.2rem;
}

#add-book:hover {
    background-color: rebeccapurple;
    color: white;
}

p {
    margin-bottom: 10px;
}

input:valid {
    border: 2px solid #0ce654;
    box-shadow: none;
}

input:invalid:not(:placeholder-shown) {
    border: 2px solid #D55C5F;;
}

.book-card button {
    padding: 0.5rem 1rem;
    width: 10rem;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    border: 0;
}

.book-read {
    background-color: #9fff9c;
}

.book-card .book-read:hover {
    filter: brightness(90%);
}

.not-read {
    background-color: #D55C5F;
}

.not-read:hover {
    filter: brightness(90%);
}