* {
    margin: 0;
    padding: 0;
}

.header {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    margin-left: 15%;
}

.book {
   
    color: white;
    font-size: 1.2rem;
}

.display-toggle {
    display: none;
}

.library-books {
    padding: 2rem 4rem;

}

.book-card {
    padding: 1.2rem 1rem;
    width: max(3rem, 12%);
    background-color: #62695a;
    border-radius: 10px;
}

.book-form {
    display: flex;
    align-items: center;
    justify-content: center;
}